#trackerWizard{
    height: 80%;
    width: 80%;

    border: 2px solid #333; /* Falls du einen sichtbaren Rahmen hast */
    border-radius: 12px;     /* Rundet alle vier Ecken ab */

}

/* Abdunklung des Hintergrunds (Webseite dahinter blockieren) */
#trackerWizard::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px); /* Optional: Macht den Hintergrund leicht unscharf */
}


#imageSelectContainer{
  display:flex;
  flex-direction:row;
  justify-content: center;
}
#imageSelectContainer img{
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent; /* Standardrahmenfarbe */
  border-radius: 8px; /* Abgerundete Ecken */
  transition: border-color 0.3s, transform 0.3s; /* Sanfte Übergänge */
}


#colorSelectContainer{
  display:flex;
  flex-direction:row;
  justify-content: center;
}
#colorSelectContainer .color-option{
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent; /* Standardrahmenfarbe */
  border-radius: 50%; /* Runde Form */
  transition: border-color 0.3s, transform 0.3s; /* Sanfte Übergänge */
}

#statsInputContainer{
  display:flex;
  flex-direction:column;
  gap: 10px; /* Abstand zwischen den Eingabefeldern */
}

#templatebuttonContainer{
  display:flex;
  flex-direction:row;
  justify-content: center;
  gap: 10px; /* Abstand zwischen den Buttons */
  margin:5px;
}

#buttonContainer{
  display:flex;
  flex-direction:row;
  justify-content: center;
  gap: 10px; /* Abstand zwischen den Buttons */
  margin:5px;
}