#trackerWizard{
    height: 80%;
    width: 80%;

    border: 2px solid #333; /* Falls du einen sichtbaren Rahmen hast */
    border-radius: 12px;     /* Rundet alle vier Ecken ab */

}

/* Abdunklung des Hintergrunds (Webseite dahinter blockieren) */
#trackerWizard::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px); /* Optional: Macht den Hintergrund leicht unscharf */
}


#imageSelectContainer{
  display:flex;
  flex-direction:row;
  justify-content: center;
  flex-wrap: wrap;
}
.imageSelectorRow{
  display:flex;
  flex-direction:row;
  justify-content: center;
}
#imageSelectContainer img{
  width: 10vh;
  height: auto;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent; /* Standardrahmenfarbe */
  border-radius: 8px; /* Abgerundete Ecken */
  transition: border-color 0.3s, transform 0.3s; /* Sanfte Übergänge */
  user-select: none;           /* Verhindert das Markieren des Bildes */
  -webkit-user-drag: none;     /* Speziell für Chrome/Safari: Verhindert das Draggen */

}
#imageSelectContainer img.selected{
  #border: 10px solid black;
  background-color: rgba(255, 0, 0, 1); /* Optional: Leichte Hintergrundfarbe */
}


#colorSelectContainer{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
    flex-wrap: wrap;

}
#colorSelectContainer .color-option{
  width: 5vh;
  height: 5vh;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent; /* Standardrahmenfarbe */
  border-radius: 50%; /* Runde Form */
  transition: border-color 0.3s, transform 0.3s; /* Sanfte Übergänge */
}
#colorSelectContainer .color-option.selected{
  width: 7vh;
  height: 7vh;
  #border: 10px solid black;
}

#statsInputContainer{
  display:flex;
  flex-direction:column;
  gap: 10px; /* Abstand zwischen den Eingabefeldern */
}

#templatebuttonContainer{
  display:flex;
  flex-direction:row;
  justify-content: center;
  gap: 10px; /* Abstand zwischen den Buttons */
  margin:5px;
  height: 10vh;
}
#templatebuttonContainer button{
  height: 10vh;
  width: 10vh;
  background-color: lightgrey;
}
#templatebuttonContainer button.selected{
  background-color: red;
}

#buttonContainer{
  display:flex;
  flex-direction:row;
  justify-content: center;
  gap: 10px; /* Abstand zwischen den Buttons */
  margin:5px;
}

